*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-de-fundo: #0B0A14;
    --branco-principal: #ffffff;
    --botao-azul: #167bf7;
    --cinza-secundario: #c0c0c0;
    --fonte-principal: "Inter"
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 1em;
    font-weight: 400;
}